{% extends 'base.html.twig' %}

{% block localstyle %}
    <style>
        body {
            background-color: transparent;
        }
    </style>
{% endblock %}

{% block body %}
    <a class="btn btn-secondary" onClick="closeModal();">Annuler</a>
    <form action="{{ path('bninefiles_files_uploadfile', {
        domain: domain,
        id: id,
        path: path
    }) }}"
    class="dropzone" id="myDropzone" style="margin-top:10px"></form>
{% endblock %}

{% block localscript %}
    <script>
        var lastUploadedFilename = null;

        Dropzone.options.myDropzone = {
            paramName: "{{endpoint}}",
            maxFilesize: 20,
            parallelUploads: 5,
            uploadMultiple: false,
            {% if imageOnly is defined and imageOnly %}
            acceptedFiles: ".jpg,.jpeg,.png,.gif,.webp,.svg,.bmp,.tiff,.tif",
            dictDefaultMessage: "Déposez vos images ici pour les téléverser",
            {% else %}
            dictDefaultMessage: "Déposez vos fichiers ici pour les téléverser",
            {% endif %}
            success: function (file, response) {
                lastUploadedFilename = file.name;
            },
            successmultiple: function (files, response) {
                lastUploadedFilename = files.length > 0 ? files[files.length - 1].name : null;
            },
            queuecomplete: function () {
                if (typeof window.parent.imageUploadDone === 'function') {
                    window.parent.imageUploadDone(lastUploadedFilename);
                } else {
                    window.parent.location.reload();
                }
            }
        };

        function closeModal() {
            if (typeof window.parent.imageUploadDone === 'function') {
                window.parent.imageUploadDone(null);
            } else {
                window.parent.$(".modal.show").modal('hide');
            }
        }
    </script>
{% endblock %}
